

:root{
    --dis:70%;
    --width:11%
}

.m-hero-container{
    width: 100%;
}
.slider-container{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.slider{
    display: flex;
    align-items: center;
    position: relative;
    width:24%;
    height:313px ;
    justify-content: center;
}
.img-slide{
    position: absolute;
    box-shadow: 5px 15px 33px;
    width: 100%;
    transition: transform 1s ease-in-out,width 1s ease-in-out;
}
.img-trans{
    transition: transform 1s ease-in-out,width 1s ease-in-out
}
.img-slide img{
    width: 100%;
}

.img-slide:nth-of-type(1){
    transform: translate(calc(-4*var(--dis)),0);
    width: calc(100% - calc(4*var(--width)));
    z-index: 6;
}

.img-slide:nth-of-type(2){
    transform: translate(calc(-3*var(--dis)),0);
    z-index: 7;
    width: calc(100% - calc(3*var(--width)));
    
    }
.img-slide:nth-of-type(3){
    transform: translate(calc(-2*var(--dis)),0);
    z-index: 8;
    width: calc(100% - calc(2*var(--width)));
}
.img-slide:nth-of-type(4){
    transform: translate(calc(-1*var(--dis)),0);
    width: calc(100% - calc(1*var(--width)));
    z-index: 9;
}
.img-slide:nth-of-type(5){
   z-index: 10;
    }
.img-slide:nth-of-type(6){
    transform: translate(var(--dis),0);
    width: calc(100% - calc(1*var(--width)));
    z-index: 9;
  
    
}
.img-slide:nth-of-type(7){
    transform: translate(calc(2*var(--dis)),0);
    width: calc(100% - calc(2*var(--width)));
    z-index: 8;
}
.img-slide:nth-of-type(8){
    transform: translate(calc(3*var(--dis)),0);
    width: calc(100% - calc(3*var(--width)));
    z-index: 7;
}
.img-slide:nth-of-type(9){
    transform: translate(calc(4*var(--dis)),0);
    width: calc(100% - calc(4*var(--width)));
    z-index: 6;
}

.slider-controller{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 28px;
}
.slider-container button{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    color: white;
    padding: 7px 8px;
}
.slider-controller button:hover{
    box-shadow: 0px -1px 15px black
}
.slider-controller>div{
    color: white;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .m-hero-header h2{
        text-align: center;
    }
    .slider{
        width: 63%;
    }
    .slider-controller{
        width: 85%;
        margin-top: 30px;
    }
    .slider-controller>div{
        font-size: 15px;
    }
    .slider-container{
        
    }
    
}